/* глобальная стилизация */
body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    }

img {
    height: auto;
    max-height: 100%;
}
/* главная страница */
.main-navigation {
    color: #000;
    background-color: #fff;
    
}

.site-navigation{
    list-style: none;
    font-weight: 700;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    padding: 20px 0;
    margin: 0;
    }

.site-navigation li:nth-child(3) {
    height: 0;
}

.main-navigation a {
    color: #000;
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #83b2d0;
}
.main-navigation a:active {
    color: #b2b2b2;
}
.main-navigation .active a {
    color: #76645a;
}

.main-header-logo {
    display: block;
}

.main-header-logo img{
    width: 158px;
    height: 80px;
    z-index: 2;
    margin-top: -20px;
}

.headline {
    background-color: #fff;
    background-image: url(../img/headline-background.jpg);
    text-align: center;
    width: 1200px;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
}

.headline img:nth-child(1) {
    width: 458px;
    height: 352px;
    margin-bottom: 20px;
}
.headline img:nth-child(2) {
    width: 1200px;
    height: 57px;
}

.features-decription {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.features-decription h2 {
    padding-top: 64px;
    margin: 0;
    text-align: center;
}

.features-decription p {
    margin: 0;
    padding-top: 26px; 
    color: #333333;
}

.features {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    
}

.first-features {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 50px 0 0 0;
}

.first-features .main-features-item {
    display: flex;
    height: 256px;
    width: 400px;
    flex-grow: 1;
    background-color: #eeeeee;
    order: 2;
    
}

.main-features-item .main-features-text{
    text-align: center;
    width: 400px;
}

.main-features-text h3{
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    margin: 44px auto 20px;
    max-width: 170px
}

.main-features-text p{
    margin: 18px auto;
    padding: 0;
    max-width: 290px;
    color: #333333;
}

.first-features .main-features-item:nth-child(1),
.first-features .main-features-item:nth-child(2){
    display: flex;
    background-color: #81b3d2;
    color: #fff;
    width: 1200px;
}

.first-features .main-features-item:nth-child(1){
    order: 0;
}

.first-features .main-features-item:nth-child(2) {
    flex-direction: row-reverse;
}

.main-features-item:nth-child(1) p,
.main-features-item:nth-child(2) p {
    color: #fff;
}

.main-features-item:nth-child(1) .img-city {
    background-image: url(../img/city-img.jpg);
    width: 800px;
    
}

.main-features-item:nth-child(2) .img-canyon {
    background-image: url(../img/canyon-img.jpg);
    width: 800px;
}

.secondary-features {
    list-style: none;
    display: flex;
    height: 330px;
    margin: 0;
    padding: 0;
}

.features-item {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.features-item img {
    margin-top: 60px;
}

.features-item h3 {
    margin-top: 16px;
    align-self: center;
}

.features-item p {
    max-width: 290px;
    align-self: center;
    text-align: center
}


.search {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    background-color: #fff;
}

.search h2 {
    margin: 50px auto 0;
    font-size: 28px;
}

.search p {
    margin: 30px auto;
    max-width: 480px;
    text-align: center;
}

.btn-search {
    font: inherit;
    
    width: 568px;
    height: 86px;
    border: none;
    background-color: #766357;
    margin: 12px auto 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 21px;
    line-height: 26px;  
}

.btn-search:hover,
.btn-search:focus {
    background-color: #604e43;
}
.btn-search:active {
    background-color: #503e33;
    color: #857871;
}



.btn-find {
    font: inherit;
    
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    border: none;
    
    text-transform: uppercase;
    color: #fff;
    font-size: 21px;
    line-height: 26px;       
}
.btn-find:hover,
.btn-find:focus {
    background-color: #669ec0;
}
.btn-find:active{
    background-color: #5496bd;
    color: #7aadcb;
}

.map {
    font-weight: 700;
    background-image: url(../img/map-img.jpg);
    height: 595px;
    width: 1200px;
    margin: 0 auto;
    
}

.search-form-disabled {
    display: none;
}

.search-form-enabled {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    box-sizing: border-box;
    margin: 0 auto;
    width: 570px;
    min-height: 395px;
    padding: 50px;
}

.search-form input{
    box-sizing: border-box;
    border: none;
    background-color: #f2f2f2;
    padding: 11px 10px;
}

.form-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.date-arrival input,
.date-departure input{
    width: 348px;
    font-weight: 700;
}

.mature,
.children{
    width: auto;
}

.mature input,
.children input{
    width: 114px;
    margin-left: 36px;
    text-align: center;
    font-weight: 700;
}

.search-form button{
    width: 100%;
}

.footer-container{
    display: flex;
    align-items: center;
    height: 120px;
    width: 1200px;
    margin: 0 auto;
    margin-top: -109px;
    background-color: rgba(255,255,255,0.8)
}

footer a {
    color: black
}

.social-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: 240px;
}

.social-item {
    display: flex;
    background-color: #81b3d2;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.social-item:nth-child(n3) {
    margin: 100px;   
}

.social-item:hover,
.social-item:focus {
    background-color: #669ec0;
}

.social-item:active path {
    fill: #88b6d1;
}

.social-item:active {
    background-color: #5496bd;
}

.academy-link {
    display: flex;
    align-items: center;
    margin-left: 220px;
}

.academy-link:hover path,
.academy-link:focus path,
.academy-link:hover rect,
.academy-link:focus rect{
    fill: #81b3d2;
}

.academy-link:active path,
.academy-link:active rect{
    fill: #bdbbbc;
}

.academy-link p {
    padding-right: 10px;
    padding-bottom: 5px;
}

.footer-tag{
    color: #000;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-left: 135px;
}



/* вложеная страница */

.search-container {
    background-color: #fff;
    background-image: url(../img/filter-background.jpg);
    width: 1200px;
    margin: 0 auto;
    color: #fff;
    
}

.search-characteristic{
    display: flex;
}

.search-first {
    display: flex;
    margin-left: 70px;
}

.search-second {
    display: flex;
    flex-direction: column;
}

.search-characteristic button{
    font: inherit;
    border: 2px solid #fff;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0);
    
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
}
.search-characteristic button:focus,
.search-characteristic button:hover{
    background-color: #fff;
    color: #000;
}

.search-item a {
    color: #000;
}
.search-item a:hover,
.search-item a:focus{
    color: #81b3d2;
}
.search-item a:active{
    color: #b2b2b2;
}

.sort-by {
    list-style: none;
}
#icon-up-dir,
#icon-down-dir{ 
    stroke:#cacaca; fill: #cacaca;
}
#icon-up-dir:hover,
#icon-down-dir:hover,
#icon-up-dir:focus,
#icon-down-dir:focus{
    stroke:#231f20; fill: #231f20;
}
#icon-up-dir:active,
#icon-down-dir:active{
    stroke:#81b3d2; fill: #81b3d2;
}

.sort-by li {
    color: #b2b2b2;
    border-bottom: dotted #81b3d2 1px;    
}

.sort-by li:focus,
.sort-by li:hover{
    color: #cde1ed;
}
.sort-by li:active{
    color: #000;
    border: none;
}

.button-info span{
    border: none;
    background-color: #81b3d2;
    padding: 8px 17px;
    
    font-weight: 700;
    color: #fff;
}
.button-info span:focus,
.button-info span:hover{
    background-color: #669ec0;
}
.button-info span:active{
    background-color: #5496bd;  
    color: #88b6d1;
}

.button-reserve span{
    border: none;
    background-color: #766357;
    padding: 8px 17px;
    
    font-weight: 700;
    color: #fff;
}
.button-reserve span:focus,
.button-reserve span:hover{
    background-color: #604e43;
}
.button-reserve span:active{
    background-color: #503e33;
    color: #857871;
}